body {
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #000000;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

.delete {
    background-image: url(http://png-1.findicons.com/files/icons/99/office/16/delete.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 19px;
    width: 19px;
    padding: 0px;
}

.complete {
    background-image: url(http://png-1.findicons.com/files/icons/767/wp_woothemes_ultimate/16/checkmark.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 19px;
    width: 19px;
    padding: 0px;
}

section.left {
    float: left;
    width: 40%;
}

.right {
    float: right;
    padding-right: 20%;
}

.right-button {
    float: right;
}


.left {
    float: left;
    width: 50%;
}

.left-button {
    float: left;
}

li {
    width: 100%;
    height: 55px;
}

li.completedTask {
    color: #008800;
    font-weight: bold;
}