body {
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #000000;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: inline-flex;
    font-size: 34px;
    line-height: 34px;
    padding-left: 5%;
    color: rgba(255, 255, 255, 0.87);
}

h4 {
    display: inline-flex;
    padding-left: 5%;
}

li {
    width: 100%;
    height: 60px;
    overflow: auto;
}

.table-text {
    padding-left: 1%;
    padding-right: 2%;
}

.delete {
    height: 120%;
    font-size: 11px;
    cursor: pointer;
    vertical-align: middle;
    background-color: #ff0000;
}

.complete {
    cursor: pointer;
    height: 19px;
    width: 19px;
}

.right {
    float: right;
    width: 40%;
    padding-right: 5%;
}

.right-button {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 58px;
    width: 58px;
}

.right-button-edit {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-right: 59px;
    height: 58px;
    width: 58px;
}

.left {
    float: left;
    width: 50%;
}

.left-button {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 58px;
    width: 58px;
}

.edit-button {
    width: 49.5%;
    display: inline;
}

.header-remaining {
    color: white;
}

.list-item-span {
    padding-left: 20px;
    text-align: center;
}

#todo-form {
    margin-bottom: 5px;
    padding-left: 40px;
}

.list-group {
    padding-left: 40px;
}

.input-control {
    width: 80%;
    display: inline;
}

.completedTask {
    color: #008800;
    font-weight: bold;
    margin-left: 50px;
}

.notCompletedTask {
    margin-left: 50px;
}