<div class="container">
    <header>
        <h1>TODO List</h1>
    </header>
    <div>
        <button type="button" class="btn btn-default" ng-click="main.showAll()"><span>All ({{main.allNumber()}})</span></button>
        <button type="button" class="btn btn-default" ng-click="main.showActive()"><span>Active ({{main.activeNumber()}})</span></button>
        <button type="button" class="btn btn-default" ng-click="main.showCompleted()"><span>Completed ({{main.completedNumber()}})</span></button>
        <button type="button" class="btn btn-default delete" ng-if="main.completedNumber() > 0" ng-click="main.deleteAllActiveTodos()">Delete All Completed</button>
    </div>
    <div class="col-sm-8">
        <h4>TODO List</h4>
        <ul class="list-group" id="todo-list" ng-repeat="todo in main.displayTodos">
            <li class="list-group-item list-group-item-success" ng-if="todo.isComplete">
                <span class="completedTask">{{todo.title}}</span>
                <button type="button" class="btn btn-default left-button" id="done-todo" ng-click="main.updateComplete(todo)"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default right-button" id="delete-todo" ng-click="main.deleteTodo(todo.id)"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default right-button-edit" id="edit-todo" ng-click="main.setEditedTodo(todo.id, todo)"><span class="glyphicon glyphicon-pencil"></span></button>
            <li class="list-group-item" ng-if="!todo.isComplete">
                <span class="notCompletedTask">{{todo.title}}</span>
                <button type="button" class="btn btn-default left-button" id="done-todo" ng-click="main.updateComplete(todo)"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default right-button" id="delete-todo" ng-click="main.deleteTodo(todo.id)"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default right-button-edit" id="edit-todo" ng-click="main.setEditedTodo(todo.id, todo)"><span class="glyphicon glyphicon-pencil"></span></button>
            </li>
        </ul>
    </div>
    <div class="alert alert-danger" role="alert" ng-if="main.error">
        {{man.error}}
    </div>
    <div class="col-sm-4">
        <!-- CREATE TODO-->
        <div ng-if="!main.isEditing" class="col-xs-12 todo-details">
            <h4>Create a new Todo</h4>
            <hr/>
            <form name="main.createForm" role="form" id="todo-form" ng-submit="main.createTodo(main.newTodo, main.createForm.$valid)">
                <input type="text" class="form-control" id="new-todo" ng-model="main.newTodo.title" required="true">
                <button type="submit" class="form-control edit-button" id="submit-todo">Create</button>
            </form>
        </div>
        <!-- EDIT TODO-->
        <div ng-if="main.isEditing" class="col-xs-12 todo-details">
            <h4>Editing {{main.editedTodo.title}}</h4>
            <hr/>
            <form name="main.updateForm" class="edit-form" role="form"
                ng-submit="main.updateTodo(main.editedTodo, main.updateForm.$valid)">
                <input type="text" class="form-control" ng-model="main.editedTodo.title" required="true">
                <button type="submit" class="form-control edit-button">Update</button>
                <button type="button" class="form-control edit-button" ng-click="main.cancelEditing()">Cancel</button>
            </form>
        </div>
    </div>
</div><