<div class="container">
    <header>
        <h1>TODO List</h1>
    </header>
    <div>
        <button type="button" class="btn btn-default" ng-click="main.showAll()"><span>All ({{main.allNumber()}})</span></button>
        <button type="button" class="btn btn-default" ng-click="main.showActive()"><span>Active ({{main.activeNumber()}})</span></button>
        <button type="button" class="btn btn-default" ng-click="main.showCompleted()"><span>Completed ({{main.completedNumber()}})</span></button>
        <button type="button" class="btn btn-default delete" ng-if="main.completedNumber() > 0" ng-click="main.deleteAllActiveTodos()">Delete All Completed</button>
    </div>
    <div class="col-sm-8">
        <h4>TODO List</h4>
        <ul class="list-group" ng-repeat="todo in main.displayTodos">
            <li class="list-group-item list-group-item-success" ng-if="todo.isComplete">
                <span class="completedTask">{{todo.title}}</span>
                <button type="button" class="btn btn-default left-button" id="done-todo" ng-click="main.updateComplete(todo)"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default right-button" id="delete-todo" ng-click="main.deleteTodo(todo.id)"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default right-button-edit" id="edit-todo" ng-click="main.setEditedTodo(todo.id, todo)"><span class="glyphicon glyphicon-pencil"></span></button>
            <li class="list-group-item" ng-if="!todo.isComplete">
                <span class="notCompletedTask">{{todo.title}}</span>
                <button type="button" class="btn btn-default left-button" id="done-todo" ng-click="main.updateComplete(todo)"><span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" class="btn btn-default right-button" id="delete-todo" ng-click="main.deleteTodo(todo.id)"><span class="glyphicon glyphicon-trash"></span></button>
                <button type="button" class="btn btn-default right-button-edit" id="edit-todo" ng-click="main.setEditedTodo(todo.id, todo)"><span class="glyphicon glyphicon-pencil"></span></button>
            </li>
        </ul>
    </div>
    <div class="alert alert-danger" role="alert" ng-if="main.error">
        {{man.error}}
    </div>
    <div class="col-sm-4">
        <!-- CREATE TODO-->
        <div ng-if="!main.isEditing" class="col-xs-12 todo-details">
            <h4>Create a new Todo</h4>
            <hr/>
            <form name="main.createForm" role="form" ng-submit="main.createTodo(main.newTodo, main.createForm.$valid)">
                <input type="text" class="form-control" ng-model="main.newTodo.title" required="true">
                <button type="submit" class="form-control edit-button">Create</button>
            </form>
        </div>
        <!-- EDIT TODO-->
        <div ng-if="main.isEditing" class="col-xs-12 todo-details">
            <h4>Editing {{main.editedTodo.title}}</h4>
            <hr/>
            <form name="main.updateForm" class="edit-form" role="form"
                ng-submit="main.updateTodo(main.editedTodo, main.updateForm.$valid)">
                <input type="text" class="form-control" ng-model="main.editedTodo.title" required="true">
                <button type="submit" class="form-control edit-button">Update</button>
                <button type="button" class="form-control edit-button" ng-click="main.cancelEditing()">Cancel</button>
            </form>
        </div>
    </div>
</div><

<!--<section class="left">-->
    <!--<form name="main.todoForm" ng-submit="main.submitTodo(main.todo)">-->
        <!--<input class="form-control input-control" type="text" ng-required="true" ng-model="main.todo.title" id="new-todo" placeholder="What needs to be done?" autofocus>-->
        <!--&lt;!&ndash;<input class="btn btn-default input-button-control" id="submit-todo" type="submit" value="Create">&ndash;&gt;-->
        <!--<button type="submit">Submit</button>-->
    <!--</form>-->
    <!--<h2>TODO Title</h2>-->
    <!--{{main.todo.title}}-->
    <!--<h2>Form</h2>-->
    <!--{{main.todoForm.$valid}}-->
    <!--<div class="alert alert-success" role="alert" ng-if="main.currentTodo">-->
        <!--<ul class="list">-->
            <!--<li class="list-group-item">-->
                <!--<h2>{{main.currentTodo.title}}</h2>-->
                <!--<h3>{{main.isComplete}}</h3>-->
                <!--<input type="checkbox" ng-model=""-->
                <!--<button type="button" class="close" ng-click="main.setCurrentTodo(null)">&times;</button>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div ng-repeat="todoItem in main.todos" ng-click="main.setCurrentTodo(todoItem)"></div>-->
    <!--<h2 id="todo-list-placeholder"></h2>-->
    <!--<ul class="list-group" id="todo-list"></ul>-->
    <!--<div id="error"></div>-->
<!--</section>-->